# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
config

# Ignore IDE specific content
/bin/
.classpath
.project
org.eclipse.*
.vscode

# Ignore lombok gradle plugin configuration files
lombok.config

# Operating system specifics
.DS_STORE

# General
*.tar.gz

# Keys/Certificates
*.bin
*.pem
